target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin
dependency-reduced-pom.xml

### JCap Logs & Captures ###
logs/
*.log
*.pcap
*.pcapng

### IntelliJ IDEA (Safe Version) ###
# Ignore the entire folder to prevent pushing user workspace settings
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Database files ###
*.db
*.sqlite